---
layout: default
sitemap:
  priority: 1.0
  changefreq: daily
---

{% for post in paginator.posts %}
<div class="{% cycle 'white', 'grey' %} post">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				{% assign author = site.data.authors[post.author] %}
				<a href="/about.html"><img class="avatar" src="{{author.avatar}}" alt="A photo of {{ author.name }}" height="50" width="50"></a>
				<a href="/about.html"><ba>{{ author.name }}</ba></a>
				<bd>{{ post.date | date: "%B %-d, %Y" }}</bd>
				<h1><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h1>
				{{ post.excerpt }}
				<p><a class="post-more" href="{{ post.url }}">Continue Reading...</a></p>

				<p><bt><span class="glyphicon glyphicon-tags"></span>
				{% for tag in post.tags %}
				<a href="{{ tag | replace ' ', '' | downcase | append:'.html' | prepend:'/tag/' }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
				{% endfor %}
				</bt></p>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% assign mod = paginator.posts.size | modulo:2 %}
<div class="{% case mod %} {% when 1 %}white{% else %}grey{% endcase %}">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<!-- Pagination links -->
				<div class="page-block">
					<div class="page-newer">
					{% if paginator.previous_page %}
					    	{% if paginator.page == 2 %}
						<a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Newer</a>
					    	{% else %}
						<a href="/page{{ paginator.previous_page }}"><span class="glyphicon glyphicon-chevron-left"></span> Newer</a>
						{% endif %}
					{% endif %}
					</div>
					<div class="page-older">
						{% if paginator.next_page %}
						<a href="/page{{ paginator.next_page }}" class="older">Older <span class="glyphicon glyphicon-chevron-right"></span></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
