---
layout: default
---
<!-- +++++ Post +++++ -->
<div id="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				{% assign author = site.data.authors[page.author] %}
				<img class="avatar" src="{{author.avatar}}" alt="A photo of {{ author.name }}"> 				
				<ba>{{ author.name }}</ba>
				<bd>{{ page.date | date: "%B %-d, %Y" }}</bd>
				<h1>{{ page.title }}</h1>
				{{ content }}
				
				{% if author.google_plus %}
				<p><a href="{{ author.google_plus }}?rel=author">Google</a></p>
				{% endif %}

				<p><bt>TAGS:
				{% for tag in page.tags %}
				<a href="#">{{ tag }}</a>
				{% endfor %}
				</bt></p>
				<!--<br>
				<p><bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p>-->
				<hr>
				<p><a href="/"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></p>
			</div>

		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /white -->

