---
layout: default
---
<!-- +++++ Post +++++ -->
<div class="white post">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				{% assign author = site.data.authors[page.author] %}
				<a href="/about.html"><img class="avatar" src="{{author.avatar}}" alt="A photo of {{ author.name }}" height="50" width="50"></a>
				<a href="/about.html"><ba>{{ author.name }}</ba></a>
				<bd>{{ page.date | date: "%B %-d, %Y" }}</bd>
				<h1>{{ page.title }}</h1>
				{{ content }}

				<p><bt>TAGS:
				{% for tag in page.tags %}
				<a href="{{ tag | replace ' ', '' | downcase | append:'.html' | prepend:'/tag/' }}">{{ tag }}</a>
				{% endfor %}
				</bt></p>

				<p class="back-link"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></p>
			</div>

		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /white -->

